@page "/therm"
@using RegnalHome.Server.Data
@using RegnalHome.Common.Enums
@using RegnalHome.Common.Dtos
@inject ThermService ThermService
@inject NavigationManager UriHelper
@attribute [Authorize]

<h3>RegnalHome.Therm</h3>

@if (sensors == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Temp. (C)</th>
                <th>ConnectionState</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sensor in sensors)
            {
                <tr class="pointer-event" @onclick="()=>Navigate(sensor.Id)">
                    <td>@sensor.Name</td>
                    <td>
                        @if (sensor.ConnectionState == ConnectionState.Online)
                        {
                            @sensor.Temperature
                        }
                    </td>
                    <td>@sensor.ConnectionState</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ThermSensorDto[]? sensors;

    protected override async Task OnInitializedAsync()
    {
        sensors = await ThermService.GetThermSensors();
    }

    void Navigate(Guid id)
    {
        UriHelper.NavigateTo($"/therm/{id}");
    }
}
