@inherits LayoutComponentBase
@inject RegnalHome.App.Services.ISettingsService settings;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @if (settings.IsAuthenticated)
        {
            <article class="content px-4">
                @Body
            </article>
        }
        else
        {
            <h1>Sorry, nothing's here.</h1>
            <p>At first, Log In</p>
        }
    </main>
</div>
