@page "/irrigation"
@using Microsoft.AspNetCore.Authorization;
@using RegnalHome.Common.Models;
@using RegnalHome.Web.Services;
@inject IrrigationService irrigationService;
@attribute [Authorize]

<h3>Irrigation</h3>

@if (IrrigationModules == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>LastCommunication</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var module in IrrigationModules)
            {
                <tr onclick="window.location='#';">
                    <td>@module.Id</td>
                    <td>@module.Name</td>
                    <td>@module.LastCommunication.ToString("G")</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    public IrrigationModule[]? IrrigationModules { get; private set; }

    protected override async Task OnInitializedAsync()
    {
        IrrigationModules = await irrigationService.GetModules();
    }
}
